body {
    font-family: 'Open Sans', sans-serif;
    color: black;
}
/*----------N A V B A R----------*/
.MyPage {
    padding: 0;
}
.navbar {
    padding: 0;
    background-image: url(topography.png);
}
.container {
    margin-left: auto;
    margin-right: auto;
    padding: 0;
}
/*------Navbar------*/
.navbar-collapse {
    flex-grow: unset;
}
@keyframes navbar-brand{
    0% { opacity:0;}
    100% { opacity: 0.9}
}
/*------Navbar Button------*/
.navbar-toggler {
    float: right;
    padding: 9px 10px;
    margin: 0;
    background-color: transparent;
    background-image: none;
    border: 2px;
}
/*------FONTS------*/
.fa-fingerprint {
    font-size: 25px;
    cursor: pointer;
}
/*------Dropdown------*/
/*-On githubpages, language select not work-*/
/*------Language------*/
.pl:hover{
    background-image: linear-gradient(white 50%, red 50%);
    font-size: larger;
    animation-name: pl-hover;
    animation-duration: 0.3s;
    animation-delay: 0.1s;
    animation-fill-mode: forwards;
}
@keyframes pl-hover{
    0% { transform: scale(1);}
    100% { transform: scale(1.2);}
}
.pl:active{
    font-weight: bold;
}
.de:hover{
    background-image: linear-gradient(black 0% 33%, red 33% 66%, yellow 66%); 
    font-size: larger;
    animation-name: de-hover;
    animation-duration: 0.3s;
    animation-delay: 0.1s;
    animation-fill-mode: forwards;
}
@keyframes de-hover{
    0% { transform: scale(1);}
    100% { transform: scale(1.2);}
}
.de:active{
    font-weight: bold;
}
.en:hover{
    background-image: url(./UKFLAG.jpg);
    background-size: 100% 100%;
    font-size: larger;
    animation-name: en-hover;
    animation-duration: 0.3s;
    animation-delay: 0.0s;
    animation-fill-mode: forwards;
}
@keyframes en-hover{
    0% { transform: scale(1);}
    100% { transform: scale(1.2);}
}
.en:active{
    font-weight: bold;
}
.dropdown-menu {
    left: auto;
    border: none;
    background-image: url(topography.png);
    opacity: 0.9;
    overflow: hidden;
}
/*------Navi------*/
a:hover {
    color:goldenrod;
    text-decoration: none;
    /*border-bottom: 1px solid goldenrod;*/
}
.active {
    color: black;
    padding: 8px;
    display: block;
    
}
.nav-link {
    color: black;
    display: block;
}
/*----------M A I N T H E M E----------*/
.mtns-container {
    position: relative;
    width: 100%;
    height: 600px;
    background: url(Mountains.jpg) 50% 1%;
    background-size: cover;
    overflow: hidden;
    text-align: center;
}
.text1 {
    padding-top: 60px;
    color: whitesmoke;
    opacity: 1;
    font-family: 'Montserrat', sans-serif;
    text-shadow: 1px 1px 3px rgb(35, 68, 24);
    font-size: 80px;
    animation: txt1 1s 1;
}
@keyframes txt1{
    0% { 
        opacity: 0;
        margin-bottom: -67px;
    }
    30% {
        letter-spacing: 20px;
        margin-bottom: -47px;
    }
    85% {
        letter-spacing: 6px;
    }
    100% { opacity: 1;}
}
.text2 {
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    font-size: 40px;
    font-weight: 400;
    color: rgba(46, 131, 20, 0.856);
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.795);
    /*text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;*/
    animation: txt2 3s 1;
}
@keyframes txt2{
    0% { opacity: 0;}
    100% { opacity: 1;}
}
@media (max-width: 590px) {
    .text1{
        padding-top: 30px;
        font-size: 80px;
    }
    .text2{
        font-size: 45px;
    }
}
@media (max-width: 460px) {
    .text1{
        padding-top: 90px;
        font-size: 75px;
    }
    .text2{
        font-size: 40px;
    }
}
@media (max-width: 425px) {
    .text1{
        padding-top: 100px;
        font-size: 65px;
    }
    .text2{
        font-size: 35px;
    }
}
@media (max-width: 360px) {
    .text1{
        padding-top: 120px;
        font-size: 55px;
    }
    .text2{
        font-size: 25px;
        font-weight: 700;
    }
}
.mtns-container span {
    text-transform: uppercase;
    display: block;
}
.my-img {
    width:10;
    position: absolute;
    bottom: -50px;
    right: 0px;
    opacity: 0;
    animation-name: me;
    animation-duration: 2s;
    animation-delay: 1.2s;
    animation-fill-mode: forwards;
}
@keyframes me{
    0% { opacity: 0;}
    100% { opacity: 0.98;}
}
/*----------A B O U T M E----------*/
.am-header {
    font-size: 35px;
    padding-top: 20px;
    padding-bottom: 5px;
    border-bottom: 1px solid goldenrod;
    width: 35%;
    margin: auto;
}
.am-container {
    padding: 3% 0% 3% 0%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 600px;
    background: url(Mountains.jpg) 50% 1%;
    background-size: cover;
}
.am-window {
    width: 90%;
    height: 100%;
    color: black;
    background-color: white;
    border-radius: 4px;
    animation: am-opacity;
    animation-duration: 2S;
    animation-fill-mode: forwards;
}
@keyframes am-opacity {
    0% {opacity: 0;}
    100% {opacity: 0.9;}
}
.am-content {
    width: 95%;
    padding: 20px 0px;
    margin: auto;
    text-align: center;
}
.progress-bar {
    background-color: goldenrod;
}
/*---SKILLBARS---*/
.row {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}
.progress {
    width: 85%;
    margin: auto;
}
/*-FRONT-*/
.frontend {
    font-size: 18px;
    font-weight: bold;
    padding: 10px 10px 10px 10px;
}
.front {
    padding: 0;
    list-style: none;
}
.fa-html5 {
    margin: auto;
    font-size: 40px;
}
.html {
    width: 60%;
    border-radius: 2px;
}
.fa-css3-alt {
    margin: auto;
    font-size: 40px;
}
.css {
    width: 60%;
    border-radius: 2px;
}
.fa-js-square {
    margin: auto;
    font-size: 40px;
}
.js {
    width: 45%;
    border-radius: 2px;
}
/*-BACK-*/
.backend {
    font-size: 18px;
    font-weight: bold;
    padding: 10px 10px 10px 10px;
}
.back {
    padding: 0;
    list-style: none;
}
.fa-java {
    margin: auto;
    font-size: 40px;
}
.java {
    width: 45%;
    border-radius: 2px;
}
.fa-python {
    margin: auto;
    font-size: 40px;
}
.python {
    width: 30%;
    border-radius: 2px;
}
.fa-database {
    margin: auto;
    font-size: 40px;
}
.sql {
    width: 30%;
    border-radius: 2px;
}
/*----------P O R T F O L I O----------*/
.pf-container {
    padding: 3% 0% 3% 0%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 600px;
    background: url(Mountains.jpg) 50% 1%;
    background-size: cover;
}
.portfolio-window {
    width: 90%;
    height: 90%;
    margin: auto;
    color: black;
    background-color: white;
    border-radius: 4px;
    animation: portfolio-opacity;
    animation-duration: 2S;
    animation-fill-mode: forwards;
}
@keyframes portfolio-opacity {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
.portfolio-header {
    font-size: 35px;
    padding-top: 20px;
    padding-bottom: 5px;
    border-bottom: 1px solid goldenrod;
    width: 40%;
    margin: auto;
}
.portfolio-info-fluid {
    padding-top: 3%;
    margin: auto;
}
.portfolio-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 600px;
    background: url(Mountains.jpg) 50% 1%;
    background-size: cover;
}
.col-lg{
    padding-bottom: 20px;
}
.portfolio-content {
    padding-bottom: 4%;
}
.portfolio-content h4:hover {
    transform: scale(1.1);
    transition: 0.3s transform linear;
    text-shadow: 1px 1px 2px goldenrod;
}
.pf-container a {
    color: black;
}
.timer {
    width: 100%;
    border-radius: 4px;
}
.weatherapp {
    width: 100%;
    border-radius: 4px;
}
.intro {
    width: 100%;
    border-radius: 4px;
}
.overlay{
    position: relative;
    border: 1px solid goldenrod;
    border-radius: 4px;
  }
.overlay p{
    line-height: 1.7;
    margin: 0;
    padding: 0% 2%;
    color: white;
    position: absolute;
    text-align: center;
    width: 100%;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
.fa-github {
    position: absolute;
    text-align: center;
    top: 87%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    padding: 0% 2%;
    font-size: 30px;
    cursor: pointer;
    color: whitesmoke;
    opacity: 0.9;
}
.fa-globe-europe {
    opacity: 0;
}
@media (max-width: 1200px) {
    .fa-github {
        font-size: 30px;
    }
    .overlay p{
        font-size: 14.5px;
    }
}
@media (max-width: 990px) {
    .fa-globe-europe {
        padding: 0% 2%;
        font-size: 40px;
        cursor: pointer;
        color: whitesmoke;
        opacity: 0.9;
        position: absolute;
        text-align: center;
        top: 83%;
        left: 80%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
    }
    .fa-github {
        font-size: 40px;
        top: 83%;
        left: 20%;
    }
    .overlay p{
        font-size: 20px;
    }
}
@media (max-width: 490px) {
    .fa-globe-europe {
        font-size: 40px;
    }
    .fa-github {
        font-size: 40px;
    }
    .overlay p{
        font-size: 20px;
    }
}
@media (max-width: 540px) {
    .fa-globe-europe {
        font-size: 30px;
    }
    .fa-github {
        font-size: 30px;
    }
    .overlay p{
        font-size: 15px;
    }
}
@media (max-width: 360px) {
    .overlay p{
        line-height: 1.7;
        margin: 0;
        font-size: 15px;
    }
    .portfolio-header {
        width: 70%;
    }
}
@media (max-width: 330px) {
    .overlay p{
        font-size: 12px;
    }
    .fa-globe-europe {
        font-size: 25px;
    }
    .fa-github {
        font-size: 25px;
    }
}
.overlay a{
    text-decoration: none;
}
.overlay a:link {
    color: white;
}
.overlay a:visited {
    color: white;
}
.overlay .link{
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(46, 131, 20);
    border-radius: 4px;
    opacity: 0;
    transition: opacity 0.2s ease-in;
}
.overlay:hover .link{
    opacity: 1;
}
/*----------F O O T E R----------*/
/*----from-left-to-right----*/
.footer-container {
    background-image: url(topography.png);
    padding: 0;
    margin: 0;
}
.contact-art {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}
.cont-ent {
    margin: 0;
    padding: 2% 0 2% 0;
}
.contactb {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 0;
}
.contact-btn {
    padding-left: 0;
    padding-right: 0;
    margin: 0;
    border-color: black;
    width: 55%;
    opacity: 0.7;
}
.contact-btn:hover {
    color: white;
    background-color: goldenrod;
    border-color: goldenrod;
}
.social {
    padding: 1% 0 1% 0;
    margin: 0;
}
.social-info {
    padding-top: 2%;
    margin: auto;
    width: 35%;
    border-bottom: 1px solid goldenrod;
}
.fa-linkedin {
    padding: 2% 2% 0% 2%;
    font-size: 30px;
    cursor: pointer;
    color: black;
    opacity: 0.7;
}
.fa-linkedin:hover {
    color:goldenrod;
    text-decoration: none;
    animation-name: a-linkedin;
    animation-duration: 0.3s;
    animation-delay: 0.1s;
    animation-fill-mode: forwards;
}
@keyframes a-linkedin{
    0% { transform: scale(1);}
    100% { transform: scale(1.2);}
}
.fa-github-square {
    padding: 2% 2% 0% 2%;
    font-size: 30px;
    cursor: pointer;
    color: black;
    opacity: 0.7;
}
.fa-github-square:hover {
    color:goldenrod;
    text-decoration: none;
    animation-name: a-github;
    animation-duration: 0.3s;
    animation-delay: 0.1s;
    animation-fill-mode: forwards;
}
@keyframes a-github{
    0% { transform: scale(1);}
    100% { transform: scale(1.2);}
}
.footer-copyright {
    padding: 20px 0px 10px 0px;
    color: goldenrod;
}
/*----------M-O-D-A-L----------*/
.modal-content {
    background-image: url(topography.png);
}


